/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Globale Stile */


body {
  background: linear-gradient(235deg, #11100e 20%, #090915 100%);
  font-family: 'Ubuntu';
}

/* Navigation */

#nav {
  position:sticky;
  top:0;
}

/* ON SCROLL NAV Vertikal anordnen */

#nav li {
  margin-left: 4rem; 
  transition: all .2s ease-in-out;
  opacity: .5;
}

#nav li:hover {
  opacity: 1;
}

#nav li:active {
  transform: scale(97%);
}

/* Vorstellungsseite */
#home {
  margin-top: 15rem !important;
  margin-bottom: 20rem;
  text-transform: lowercase;
}



@media (max-width: 480px) {
  #home span {
    font-size: 2rem;
    text-align: center !important;
  }
  .btn-outline-light {
    border: 0;
  }
}

#home .stack {
  margin-bottom: 8rem;
}

#textMeWrapper {
  display: flex;
  justify-content: center;
}

#textMe {
  font-weight: bold;
  margin-bottom: 30rem;
  margin-left: 5rem;
  width: 50%;
}
@media (max-width: 768px) {
  #home span {
    font-size: 3rem;
    text-align: center !important;
  }
  #textMe {
    margin-bottom: 30rem;
    margin-left:0;
    width: 50%;
    text-align:left !important;
    font-size: 1.5rem !important;
  }
}


/* Lebenslauf */
#cv {
  margin-bottom: 10rem;
}

#cv .display-1 {
  margin-bottom: 10rem !important;
  margin-top: 7rem;
}

#cv-person {
  margin-bottom: 15rem;
  
}

#cv-person ul {
  background-color: transparent;
  border: 0 !important;
  border-radius: 20px;
  margin-top: 5rem;
  padding: 2rem;
  box-shadow: 5px 5px 25px 5px #00000050;
  transition: all .2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
#cv-person ul:hover {
  background-color:rgba(255, 255, 255, 0.006);
}
#cv-person li {
  font-size: 2rem;
  text-align: start;
  border: 0;
  border-radius: 0;
  background-color: #b38b3c00;
  color: white;
  
}

#github-mail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5rem;
}

#githubLink img {
  width:30%;
  transition: all .2s ease-in-out;
  margin-top:1rem;
  padding:1rem;
  background-color: transparent;
  padding-bottom:2rem;
  opacity: .7;
  width: 100%;
}

#githubLink img:hover {
  opacity: 1;
}
#cv-person a {
  transition: all .2s ease-in-out;
  text-decoration: none;
  display:inline-block;
  width:30%;
  
}

#cv-person a:hover{
  transform: scale(103%);
  text-decoration: underline;
}
.thumb { 
  height: auto;
  perspective: 800px;
  
}

.thumb ul {
  transform: rotateX(0deg) rotateY(0deg) ;
  transform-origin: bottom;
  transform-style: preserve-3d;
  transition: all 0.6s;
}

.thumb:hover ul {
  transform: rotateX(0deg) rotateY(0deg);
  transform-origin: bottom;
}

#cv-person img {
  max-width:400px; 
  
}

#portrait img {
  border-radius: 10%;
  filter: contrast(1.5) drop-shadow(5px 5px 3px rgba(0,0,0,0.7));;
}

@media (max-width:1200px) {
  .thumb { 
    height: auto;
    max-width:100%;
    perspective:800px; 
  }
  .thumb ul {
  
    transform: none;
  }
  
  .thumb:hover ul {
    transform:none;
  }
}


@media (max-width:570px) {
  #portrait {
   display:none;
  }
  .thumb ul {
  
    transform: none;
  }
  
  .thumb:hover ul {
    transform:none;
  }
}

/* CV-Liste */
#cv-item {
  margin-bottom: 8rem;
  text-transform: lowercase;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.cv-item1 {
  font-size: 2rem;
}

.cv-item2,
.cv-item3,
.cv-item4,
.cv-item5,
.cv-item6 {
  font-size: 1.2rem;
}

/* Projekte */
#projects {
  margin-bottom: 10rem;
}

#projects .display-1 {
  margin-bottom: 10rem !important;
  margin-top: 7rem;
}

#projects-item {
  text-transform: uppercase;
  margin-left: 20rem;
}

#project1 {
  border-radius: 5px;
  color:white !important;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 5px 15px 15px 15px rgba(0, 0, 0, 0.278);
  background-image: url(./src/img/project1.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100% !important;
  min-height: 50vh !important;
  opacity:.7;
  transition: all 0.4s;
}

#project1:hover, #project2:hover {
  transform: scale(104%);
  opacity: 1;
}


#project2 {
  border-radius: 5px;
  color:white !important;
  border: 0;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 5px 15px 15px 15px rgba(0, 0, 0, 0.278);
  background-image: url(./src/img/project1.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100% !important;
  min-height: 50vh !important;
  opacity:.9;
  transition: all 0.4s;
}


#projects a {
  text-decoration: none;
  color: white;
}



/* Effekt */
.containerEffect {
  color: var(--color);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.rightEffect {
  text-align: right;
  width: 100%;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

.stack span {
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(.46, .29, 0, 1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}

.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 rgb(0, 0, 0), 2px -3px 0 rgb(0, 0, 0);
  }

  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }

  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 rgb(0, 0, 0), -2px 3px 0 rgb(0, 0, 0);
  }

  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 rgb(0, 0, 0), 2px -3px 0 rgb(0, 0, 0);
    transform: translate(var(--glitch-translate));
  }

  2% {
    text-shadow: 2px -3px 0 rgb(0, 0, 0), -2px 3px 0 rgb(0, 0, 0);
  }

  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

/* Kontakt */
#contact {
  margin-top: 7rem;
}

#contact .display-1 {
  margin-bottom: 6rem;
}

#contact img:hover {
  transform: scale(110%);
  transition: all 0.4s;
}

#contact-btn {
  margin: 2rem;
  margin-top: 8rem;
  width: 50%;
  height: 10rem;
  border-radius: 10px;
  border:none;
  font-size: 3rem;
  background-color: #000000b9 !important;
  box-shadow: 10px 10px 15px 3px black;
}

#contact-btn:hover {
  transform: scale(105%);
  color: white !important;
  background-color: #11100e2b !important;
  transition: all 0.4s;
}

@media (max-width:600px) {
  #contact-btn {
    background-color: #00000000 !important;
    box-shadow: none;}
    #contact-btn:hover {
      transform: scale(105%);
      background-color: #11100e00 !important;
    }
    
  }




/* Footer */
#footer {
  margin: 2rem;
  font-size: 1.2rem;
}

#footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.809) !important;
}

#footer a:hover {
  color: white !important;
}

/* DELETE LATER IN WORK */
