#nav li {
    margin-left:5rem;
}

#home {
    margin-top:15rem !important;
    margin-bottom:30rem;
}

#quote {
    margin-right:7rem;
    margin-bottom:28rem;
}

/* CV */

#cv {
  margin-bottom:10rem;
}

#cv .display-1 {
    margin-bottom:10rem !important;
    margin-top:7rem;
}

#cv-person {
  margin-bottom:7rem;
}

#cv-person ul {
  border:solid white 1px !important;
  border:0 !important;
  border-radius:0;
  margin-top:8rem;
  padding:1rem;
  box-shadow: 5px 5px 25px 5px #000000;
}


#cv-person li {
 
 
  font-size:2rem;
  text-align:start;
  border:0;
  border-radius:0;
  background-color:#161719 !important;
  color:white !important;

}

#cv-item {
  margin-bottom:4rem;
  margin-left:12rem;
  text-transform: uppercase;
  text-align:left;
  font-weight:400;
  letter-spacing:.2rem;
}

.cv-item1 {
   font-size:1.7rem;
    
}

#cv .h1 {
    margin-bottom:10rem;
}

/* FLIP */



/* projects */

#projects {
  margin-bottom:10rem;
}

#projects .display-1 {
    margin-bottom:10rem !important;
    margin-top:7rem;
}

#projects-item {
    text-transform: uppercase;
    margin-left:20rem;
}


#filmlist-box:hover {
	transform: scale(110%);
  transition: all .4s;
  cursor:pointer;
}
/* EFFEKT */

.containerEffect {
    color: var(--color);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    text-transform:uppercase;
  }

.rightEffect {
    text-align: right;
    width: 100%;
  }
  
  .stack {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 4rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 rgb(0, 0, 0), 2px -3px 0 rgb(0, 0, 0);
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 rgb(0, 0, 0), -2px 3px 0 rgb(0, 0, 0);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 rgb(0, 0, 0), 2px -3px 0 rgb(0, 0, 0);
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 rgb(0, 0, 0), -2px 3px 0 rgb(0, 0, 0);
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }


  /* Kontakt */

  #contact {
    margin-top:7rem;
  }
  
  #contact .display-1 {
    margin-bottom:6rem;
  }

  #contact img:hover {
    transform: scale(110%);
    transition: all .4s;
  }

  #contact-btn {
    margin:2rem;
    margin-top:8rem;
    width:50%;
    height:10rem;
    border-radius:0;
    font-size:3rem;  
    
  }

  #contact-btn:hover{
    transform: scale(110%);
    color:white !important;
    transition: all .4s;
  }
/* footer */

#footer {
  margin:2rem;
  font-size:1.2rem;
}

#footer a {
  text-decoration: none;
  color:rgba(255, 255, 255, 0.809) !important;
}

#footer a:hover {
  color:white !important;
}